In [25]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv("../capstone#1-Reactive-Dashboard/data/IPL Data/matches.csv")

# Questions:

### 1. Team that has won the most on their homeground (overall / per season)
#### 2014 out of 53 matches because 7 matches do not have the city value
#### includes secondary home grounds


### 2. Toss decision vs Team win (team wise which team made better toss decisions)
### 3. Most wins at homeground
### 4. Biggest margin wins by wickets (slider to select 3+ / 4+ / 5+ / ...) (in 5+ all wins that are 5+ will be included including 6, 7, 8, 9, 10s)
### 5. Biggest margin wins by runs 
### 6. Wins in different cities per season (use starburst for plotting?)
### 7. Most favourable umpire (for eg. most wins for rcb was maybe with AY Dandekar; compare wins for all three umpires and select the max)
### 8. Players favourite venue (in whic venue has the player won the most player of the match)
### 9.  Select box to select teams and display their head to head per season
### 10. in each stadium how many wins with batting first and how many wins with bowling first
### 11. Team which make the best decisions in toss / Team that wins succeeding a win in toss

In [27]:
df.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [28]:
df.iloc[0]

id                                                         1
season                                                  2017
city                                               Hyderabad
date                                              2017-04-05
team1                                    Sunrisers Hyderabad
team2                            Royal Challengers Bangalore
toss_winner                      Royal Challengers Bangalore
toss_decision                                          field
result                                                normal
dl_applied                                                 0
winner                                   Sunrisers Hyderabad
win_by_runs                                               35
win_by_wickets                                             0
player_of_match                                 Yuvraj Singh
venue              Rajiv Gandhi International Stadium, Uppal
umpire1                                          AY Dandekar
umpire2                                             NJ Llong
umpire3                                                  NaN
Name: 0, dtype: object

In [29]:
df.describe()

                 id       season  dl_applied  win_by_runs  win_by_wickets
count    756.000000   756.000000  756.000000   756.000000      756.000000
mean    1792.178571  2013.444444    0.025132    13.283069        3.350529
std     3464.478148     3.366895    0.156630    23.471144        3.387963
min        1.000000  2008.000000    0.000000     0.000000        0.000000
25%      189.750000  2011.000000    0.000000     0.000000        0.000000
50%      378.500000  2013.000000    0.000000     0.000000        4.000000
75%      567.250000  2016.000000    0.000000    19.000000        6.000000
max    11415.000000  2019.000000    1.000000   146.000000       10.000000

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
id                 756 non-null int64
season             756 non-null int64
city               749 non-null object
date               756 non-null object
team1              756 non-null object
team2              756 non-null object
toss_winner        756 non-null object
toss_decision      756 non-null object
result             756 non-null object
dl_applied         756 non-null int64
winner             752 non-null object
win_by_runs        756 non-null int64
win_by_wickets     756 non-null int64
player_of_match    752 non-null object
venue              756 non-null object
umpire1            754 non-null object
umpire2            754 non-null object
umpire3            119 non-null object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [31]:
df.count()

id                 756
season             756
city               749
date               756
team1              756
team2              756
toss_winner        756
toss_decision      756
result             756
dl_applied         756
winner             752
win_by_runs        756
win_by_wickets     756
player_of_match    752
venue              756
umpire1            754
umpire2            754
umpire3            119
dtype: int64

In [32]:
df["win_by_wickets"].unique()

array([ 0,  7, 10,  6,  9,  4,  8,  5,  2,  3,  1], dtype=int64)

In [33]:
df.loc[df["win_by_wickets"] == 10, ["win_by_wickets"]].count()

win_by_wickets    11
dtype: int64

In [34]:
df.loc[df["win_by_wickets"] == 10, ["win_by_wickets"]].count()

win_by_wickets    11
dtype: int64

In [35]:
df["win_by_wickets"].value_counts()

0     350
6      85
7      80
5      71
8      54
4      41
9      37
3      18
10     11
2       6
1       3
Name: win_by_wickets, dtype: int64

In [36]:
# pd.qcut(df["win_by_wickets"], 5, labels=["big margin", "big medium margin", "small medium margin", "small margin"], duplicates='drop').value_countscounts()
df["win_by_wickets"].quantile([0, 0.25, 0.5, 0.75, 1])

0.00     0.0
0.25     0.0
0.50     4.0
0.75     6.0
1.00    10.0
Name: win_by_wickets, dtype: float64

In [37]:
df["win_by_runs"].loc[(df["win_by_runs"]<5) & (df["win_by_runs"]>0)]

27     3
58     1
102    3
105    1
110    3
134    3
159    2
163    1
175    4
209    2
234    2
324    2
344    1
350    1
382    2
399    4
420    4
437    4
467    2
468    4
518    1
530    4
546    2
598    1
614    1
615    4
647    4
655    4
657    4
667    4
685    3
734    1
755    1
Name: win_by_runs, dtype: int64

In [38]:
df["venue"].loc[df["player_of_match"]=="CH Gayle"]

19                Saurashtra Cricket Association Stadium
122                                            Kingsmead
257                                         Eden Gardens
279                                M Chinnaswamy Stadium
282                                M Chinnaswamy Stadium
290                                M Chinnaswamy Stadium
301                                M Chinnaswamy Stadium
305                      MA Chidambaram Stadium, Chepauk
328                                M Chinnaswamy Stadium
332           Punjab Cricket Association Stadium, Mohali
359                                     Wankhede Stadium
361                           Subrata Roy Sahara Stadium
371                                     Feroz Shah Kotla
382                                M Chinnaswamy Stadium
391                                M Chinnaswamy Stadium
410                                M Chinnaswamy Stadium
521                                         Eden Gardens
556                                M Chinnaswamy Stadium
647    Punjab Cricket Association IS Bindra Stadium, ...
651    Punjab Cricket Association IS Bindra Stadium, ...
699                               Sawai Mansingh Stadium
Name: venue, dtype: object

In [39]:
df.loc[df["city"].isnull()]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
461,462,2014,NaN,2014-04-19,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,7,PA Patel,Dubai International Cricket Stadium,Aleem Dar,AK Chaudhary,NaN
462,463,2014,NaN,2014-04-19,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0,Delhi Daredevils,0,4,JP Duminy,Dubai International Cricket Stadium,Aleem Dar,VA Kulkarni,NaN
466,467,2014,NaN,2014-04-23,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,normal,0,Chennai Super Kings,7,0,RA Jadeja,Dubai International Cricket Stadium,HDPK Dharmasena,RK Illingworth,NaN
468,469,2014,NaN,2014-04-25,Sunrisers Hyderabad,Delhi Daredevils,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,4,0,AJ Finch,Dubai International Cricket Stadium,M Erasmus,S Ravi,NaN
469,470,2014,NaN,2014-04-25,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Chennai Super Kings,0,7,MM Sharma,Dubai International Cricket Stadium,BF Bowden,M Erasmus,NaN
474,475,2014,NaN,2014-04-28,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,5,Sandeep Sharma,Dubai International Cricket Stadium,BF Bowden,S Ravi,NaN
476,477,2014,NaN,2014-04-30,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Sunrisers Hyderabad,15,0,B Kumar,Dubai International Cricket Stadium,HDPK Dharmasena,M Erasmus,NaN

In [40]:
df.loc[df["season"]==2014].count()

id                 60
season             60
city               53
date               60
team1              60
team2              60
toss_winner        60
toss_decision      60
result             60
dl_applied         60
winner             60
win_by_runs        60
win_by_wickets     60
player_of_match    60
venue              60
umpire1            60
umpire2            60
umpire3             0
dtype: int64

In [41]:
df["team1"].value_counts()

Mumbai Indians                 101
Kings XI Punjab                 91
Chennai Super Kings             89
Royal Challengers Bangalore     85
Kolkata Knight Riders           83
Delhi Daredevils                72
Rajasthan Royals                67
Sunrisers Hyderabad             63
Deccan Chargers                 43
Pune Warriors                   20
Gujarat Lions                   14
Rising Pune Supergiant           8
Kochi Tuskers Kerala             7
Rising Pune Supergiants          7
Delhi Capitals                   6
Name: team1, dtype: int64

In [42]:
# df["team1"].str.count(r'(^Rising.*)').head(20)
df["team1"] = df["team1"].replace("Rising Pune Supergiants", "Rising Pune Supergiant")
df["team2"] = df["team2"].replace("Rising Pune Supergiants", "Rising Pune Supergiant")

In [43]:
df["team2"].value_counts()

Royal Challengers Bangalore    95
Kolkata Knight Riders          95
Delhi Daredevils               89
Mumbai Indians                 86
Kings XI Punjab                85
Rajasthan Royals               80
Chennai Super Kings            75
Sunrisers Hyderabad            45
Deccan Chargers                32
Pune Warriors                  26
Gujarat Lions                  16
Rising Pune Supergiant         15
Delhi Capitals                 10
Kochi Tuskers Kerala            7
Name: team2, dtype: int64

In [44]:
df["team1"].value_counts()

Mumbai Indians                 101
Kings XI Punjab                 91
Chennai Super Kings             89
Royal Challengers Bangalore     85
Kolkata Knight Riders           83
Delhi Daredevils                72
Rajasthan Royals                67
Sunrisers Hyderabad             63
Deccan Chargers                 43
Pune Warriors                   20
Rising Pune Supergiant          15
Gujarat Lions                   14
Kochi Tuskers Kerala             7
Delhi Capitals                   6
Name: team1, dtype: int64

In [45]:
df["city"].isnull().count()

756

In [46]:
df.drop(df[df["city"] == np.NaN].index, inplace = True)

In [47]:
df.count()

id                 756
season             756
city               749
date               756
team1              756
team2              756
toss_winner        756
toss_decision      756
result             756
dl_applied         756
winner             752
win_by_runs        756
win_by_wickets     756
player_of_match    752
venue              756
umpire1            754
umpire2            754
umpire3            119
dtype: int64

In [48]:
df.loc[df["city"]==nan]

NameError: name 'nan' is not defined

In [49]:
df["city"].value_counts()

Mumbai            101
Kolkata            77
Delhi              74
Bangalore          66
Hyderabad          64
Chennai            57
Jaipur             47
Chandigarh         46
Pune               38
Durban             15
Bengaluru          14
Visakhapatnam      13
Centurion          12
Ahmedabad          12
Rajkot             10
Mohali             10
Indore              9
Dharamsala          9
Johannesburg        8
Abu Dhabi           7
Cape Town           7
Port Elizabeth      7
Cuttack             7
Ranchi              7
Raipur              6
Sharjah             6
Kochi               5
Kanpur              4
Kimberley           3
Nagpur              3
East London         3
Bloemfontein        2
Name: city, dtype: int64

In [ ]:
df.replace(r'\s+', np.nan, regex=True)

In [ ]:
df["city"].unique()

In [ ]:
df.loc[df["season"]==2014].isna()

In [ ]:
df["city"].dropna(inplace=True)

In [ ]:
df["city"].loc[df["season"]==2014].isna()

In [83]:
dition = {"city" : ["Jaipur", "Mumbai", "Cape Town", "Hyderabad", "Sydney"], 
          "player" : ["KL Rahul", "S Smith", "V Kohli", "R Sharma", "K Williamson"]}
dff = pd.DataFrame(data = dition)
extra_c = ["Cape Town", "Sydney"]
dff

        city        player
0     Jaipur      KL Rahul
1     Mumbai       S Smith
2  Cape Town       V Kohli
3  Hyderabad      R Sharma
4     Sydney  K Williamson

In [84]:
dfff = dff[~dff['city'].isin(extra_c)]

In [85]:
dfff["city"].loc[dfff["city"]=="Sydney"].reset_index()

Empty DataFrame
Columns: [index, city]
Index: []

In [93]:
dfff["T/F"] = 0
demoList = ["KL Rahul", "Pandya"]
dfff

C:\ProgramData\Miniconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        city    player  T/F
0     Jaipur  KL Rahul    0
1     Mumbai   S Smith    0
3  Hyderabad  R Sharma    0

In [97]:
dfff["T/F"] = (dfff['city'].str.contains("Jaipur")) & (dfff.isin({"player": demoList}))

TypeError: cannot compare a dtyped [float64] array with a scalar of type [bool]

In [91]:
dfff

        city    player    T/F
0     Jaipur  KL Rahul   True
1     Mumbai   S Smith  False
3  Hyderabad  R Sharma  False

In [112]:
for index, row in dfff.iterrows():
    if row.city == "Mumbai":
        dfff["JJ"] = 1

C:\ProgramData\Miniconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [113]:
dfff

        city    player  T/F  JJ
0     Jaipur  KL Rahul    0   1
1     Mumbai   S Smith    0   1
3  Hyderabad  R Sharma    0   1

In [114]:
for index, row in dfff.iterrows():
    print(index)

0
1
3